<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restopedia</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@300;400;500;600;700&family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Skip to content -->
    <a href="#list__restoran" class="skip-link">Menuju ke konten</a>

    <!-- Navbar -->

    <nav>
        <div class="container">
            <ul class="menu">
                <li class="logo"><a href="#">Restopedia</a></li>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="#">Favorite</a></li>
                <li class="item"><a href="https://www.linkedin.com/in/fajar13k/">About Us</a></li>
                <li class="toggle"><a href="#">☰</a></li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron Hero Banner -->

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Bantuin kamu buat cari tempat makan <span class="highlight">paling klop</span></h1>
            <p class="hero__tagline">Dari yang Italia, Nyunda, Jowo, yang mahal yang murah, atau cuman nongkrong aja.</p>
            <button class="btn button__explore">YUK CARI</button>
        </div>
    </div>

    <!-- Main menu -->

    <main>
        <div class="container">
            <section class="content">
                <div class="our__story">
                    <h1 class="our__story__tagline">Gimana awalnya?</h1>
                    <h2 class="our__story__headline">Susah banget cari tempat yang <span class="highlight">pas</span></h2>
                    <p class="our__story__description">Kami paham akan kesulitan kalian nyari tempat nongkrong yang pas dengan selera di lokasi sekitar. <br />Maka dari itu Restopedia dikembangkan untuk menutupi ini!</p>
                </div>
                <div class="posts" id="list__restoran">
                    <div id="card__restoran"></div>
                </div>
            </section>
        </div>
    </main>

    <!-- Footer -->

    <footer>
        <div class="container">
            <ul class="menu">
                <li class="copyright"><a href="https://www.linkedin.com/in/fajar13k/">Copyright &copy; 2021 - Restopedia </a></li>
                <li class="made__with__love"><p>Made with 💖 - for <a href="https://www.dicoding.com/academies/219/">Dicoding</a></p></li>
            </ul>
        </div>
    </footer>

</body>
</html>
